{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<h1 class="ui header">Hi {{ current_user.full_name }}!</h1>



<table class='ui table'>

  <thead>
    <tr>

      <th>
        <div class='ui ribbon label'>Donations</div>Date</th>
      <th>Location</th>
      <th>Amount(oz)</th>
    </tr>
  </thead>
  <tr>
    {% for donation in donations %}
    <td>{{donation.date}}</td>
    <td>{{donation.location}}</td>
    <td>{{donation.amount}}</td>
    {% endfor %}
  </tr>
</table>

{% endblock %}
