{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<h1 class="ui header">Hi {{ current_user.full_name }}!</h1> {% if donations %}
<table class='ui table'>

  <thead>
    <tr>

      <th>
        <div class='ui ribbon label'>Donations</div>Date</th>
      <th>Location</th>
      <th>Amount(oz)</th>
    </tr>
  </thead>
  {% for donation in donations %}
  <tr>
    <td>{{donation.date}}</td>
    <td>{{donation.location}}</td>
    <td>{{donation.amount}}</td>
  </tr>
  {% endfor %}
</table>
{% else%}
<h2>You haven't made any donations yet. Click <a href='/donate'>here</a> to log a donation!</h2> {% endif %} {% endblock %}
